<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td>First Name :</td>
          <td>
            <input type="text" name="first" />
          </td>
        </tr>
        <tr>
          <td>Last Name :</td>
          <td>
            <input type="text" name="last" />
          </td>
        </tr>
        <tr>
          <td>Contact Nunber :</td>
          <td>
            <input type="text" name="contact" />
          </td>
        </tr>
        <tr>
          <td>Address :</td>
          <td>
            <input type="text" name="address" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="submit" />
          </td>
        </tr>
        

      </table>
      <tr>
        <td>
        {{user}}
      </td>
      </tr>
    </form>
  </body>
</html>
